<div class="portfolios-index">
  <div class="content-wrapper">
    <div class="content-block">
      <% (1..10).each do |i| %>
        <div class="content">
          <div class="portfolio-information">
            <div class="portfolio-image">
              <%= image_tag "thumbnail.JPG" , class: "portfolio-image-icon" %>
            </div>
          </div>
          <div class="user-information">
            <div class="user-image">
              <%= image_tag "user.JPG" , class: "user-image-icon" %>
            </div>
            <div class="overview">
              <div class="portfolio-title">
                作品タイトル<%= i %>
              </div>
              <div class="user-name">
                ユーザーネーム
              </div>
              <div class="posted-date">
                投稿日
              </div>
            </div>
            <div class="favorite">
              <button class="favorite-btn">
                <i class="favorite-icon">いいね</i>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>