<div class="portfolio-image-movie-block">
  <div>
    <%= image_tag "thumbnail.JPG" , class: "portfolio-image-icon" %>
  </div>
  <div>
    <%= image_tag "user.JPG" , class: "user-image-icon" %>
  </div>
</div>

<div class="portfolios-show-back-color">
  <div class="portfolios-show-content">
    <div class="content-block">
      <div class="content">
        <div class="portfolio-title">
          作品タイトル
        </div>
        <div class="overview">
          <div class="posted-date">
            投稿日
          </div>
          <div class="favorite">
            いいね
          </div>
        </div>
        <div class="sideBar-divider"></div>
        <div class="user-information">
          <div class="user-information-image-name">
            <div class="user-image">
              <%= image_tag "user.JPG" , class: "user-image-icon" %>
            </div>
            <div class="user-name">
              ユーザーネーム
            </div>
          </div>
          <div class ="portfolio-link">
            ポートフォリオへ
          </div>
        </div>
        <div class="portfolio-overview">
          <p>概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄</p>
          <p>概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄概要欄</p>
        </div>
      </div>
    </div>
  </div>
</div>
