<div id="header">
  <div class="logo">
    <a href="/">ロゴ</a>
  </div>
  <div class="link">
    <ul id="nav">
      <li>
        <a href="#">メニュー１</a>
      </li>
      <li>
        <a href="#"> メニュー２</a>
      </li>
      <li>
        <a href="#">メニュー３</a>
      </li>
    </ul>
  </div>
</div>