<header>
  <div class="toglle">
    <i class="fas fa-bars toglle-faIcon"></i>
  </div>
  <div class="logo">
    <%= image_tag 'icon.jpg', class: 'logo-img' %>
  </div>
  <div class="search">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="検索">
      <button class="serach-btn">
        <i class="fas fa-search search-faIcon"></i>
      </button>
    </div>
  </div>
  <!-- <div class="camera">
    <%= image_tag "camera.jpg", class: "camera-img" %>
  </div>
  <div class="tool">
    <i class="fas fa-tools tool-faIcon"></i>
  </div>
  <div class="notice">
    <i class="far fa-bell notice-faIcon"></i>
  </div> -->
  <div class="icon">
    <%= image_tag 'user.JPG', class: 'user-img' %>
  </div>
</header>


