// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#portfolios-index {
  .portfolios-index-content {
    // max-width: 1080px;
    // margin: 0 auto;
    // margin-top: 120px;
    max-width: 900px;
    margin: auto;
    .content-block {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      .content {
        // border: 1px solid #000;
        // border-radius: 20px;
        // margin: 20px 40px;
        // max-width: 33.3%;
        // padding: 8px;
        max-width: 33.3%;
        padding: 8px;
        .portfolio-image {
          border-radius: 10px 10px 0px 0px;
          background-color: #fdfdfd;
          .portfolio-image-icon {
            // width: 335px;
            // border-bottom: 1px solid;
            border-radius: 10px 10px 0px 0px;
          }
        }
        .user-information {
          display: flex;
          align-items: center;
          background-color: rgb(253, 253, 253);
          border-radius: 0 0 10px 10px;

          .user-image {
            width: 80px;

            .user-image-icon {
              height: 100%;
              object-fit: contain;
              border-radius: 35px;
            }
          }
          .overview {
            margin-left: 15px;
            flex: 1;

            .portfolio-title {
              font-weight: bold;
              font-size: 16px;
            }
            .user-name {
              // font-weight: bold;
              font-size: 14px;
            }
            .posted-date {
              font-size: 14px;
            }
          }
          .favorite {
            padding-top: 19px;
            padding-right: 5px;
            .favorite-btn {
              .favorite-icon {}
            }
          }
        }
      }
    }
  }
}

#portfolios-show {
  .content-wrapper {
    .content-block {
      text-align: center;
      
      .content {
        display: inline-block;
        text-align: left;
        
        .portfolio-image-movie-block {
          .portfolio-image-icon {
            width: 640px;
            // height: 360px;
          }
          .user-image-icon {
            width: 640px;
            // height: 360px;
          }
        }
        .portfolio-title {
          font-size: 18px;
        }
        .overview {
          display: flex;
          justify-content: space-between;
          .posted-date {
            font-size: 14px;
          }
          .favorite {
            font-size: 13px;
          }
        }
        .user-information {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid;
          margin: 16px 0;

          .user-information-image-name {
            display: flex;
            align-items: center;

            .user-image {
              height: 60px;
              margin-right: 16px;

              .user-image-icon {
                height: 100%;
                object-fit: contain;
                border-radius: 35px;
              }
            }
            .user-name {
              font-size: 14px;
            }
          }
          .portfolio-link {
            // height: 50px;
          }
        }
        .portfolio-overview {
          max-width: 640px;
          // width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .portfolios-index {
    .content-wrapper {
      .content-block {
        padding: 1px;
        .content {
          margin: 0;
          // width: 320px;
          width: 100%;

          .portfolio-information {
            .portfolio-image {
              .portfolio-image-icon {
                // width: 320px;
                height: 180px;
                width: 100%;
              }
            }
          }
          .user-information {
            .user-image {
              .user-image-icon {
              }
            }
            .overview {
              .portfolio-title {
                font-size: 14px;
              }
              .user-name {
                font-size: 12px;
              }
              .posted-date {
                font-size: 12px;
              }
            }
            .favorite {
              .favorite-btn {
                .favorite-icon {  
                }
              }
            }
          }
        }
      }
    }
  }
}